
.form-section {
    
    display: flex;
    flex-direction: column;
}

.edit {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #006400;
}

.join {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #006400;
}


.form-group {
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

label {
    text-align: center;
    width: 100px;          
    margin-right: 10px;   
    font-weight: bold;     
    vertical-align: middle;     
}

input {
    background-color: #D8E8CF;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

button{
    background-color: #D8E8CF;
}

.content{
    width: 300px;
}
