.header {
    height: 100px;
    background-color: #B8F25A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigator {
    background-color: #D8E8CF;
}

.mycards {
    background-color: #BFE9B4;
    height: 670px;
    width: 300px;
    margin: 30px auto 0px auto;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 5px 5px 5px gray;
}

.mycardsbox {
    background-color: white;
    height: 360px;
    width: 250px;
    border-radius: 30px;
    margin-bottom: 250px;
}

.mytitle {
    background-color: transparent;
    height: 250px;
    width: 150px;
    border-radius: 30px;

    margin: -270px auto auto auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle>button {
    background-color: white;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid green;

    margin-top: 10px;
}
.totalcard {
    width: 2000px;

    margin: 30px auto 0px auto;
}

.mycardsbox>button {
    background-color: white;
    height: 360px;
    width: 250px;
    border-radius: 30px;
    margin-bottom: 250px;
    border: white;
}